.customSlide {
    display: flex;
    flex-direction: column;
}

.balance {
    font-weight: 300;
    font-size: 1.5rem;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.poundSign {
    font-size: 1.3rem;
}

.heading h6 {
    padding: 0;
    margin: 0;
    text-align: left !important;
    float: left !important;
    text-align: left !important;
    color: rgb(124, 124, 124);
    font-weight: 400;
}

.heading {
    width: 83%;
    padding: 0;
    margin: 0;
    margin-top: 0.75rem;
}

.transactionList {
    width: 100%;
}